.header {
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 8px;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--text-color);
    text-align: center;
    margin-top: 3.2rem;
    
}

.header-para {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--subtext-color);
    margin-top: 1px;

}



@media screen and (max-width: 480px) {
    .header{
        width: 350px;
        height: 350px;
        /* overflow: hidden; */
    }

    .header-title {
        font-size: 1.6rem;
    }

    .header-para {
        font-size:1rem ;
        line-height: 1.6rem;
    }

}