.reg_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 520px;
    height: 699px;
    margin: 6rem auto 4rem auto;
    padding-top: 4rem;
}

.reg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reg-title {
    color: var(--color-heading);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 3rem;
}



.arrow_icon {
    position: absolute;
    left: -90px;
    top: 50px;

}

.reg-content>p {
    text-align: center;
    margin-top: .5rem;
}

.reg-content>p>span {
    color: #8E8E8E;
}

.reg-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px blue solid; */
    width: 320px;
    align-self: center;
    margin-top: 1rem;
}

span {
    color: var(--color-heading);
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-content>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 60px;

}

.profile-icon {
    top: 47px;
}

.email-icon {
    top: 117px;
}

.password-icon {
    top: 188px;
}





