.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-style {
    width: 370px;
    height: 62px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background:var(--text-color);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;

    margin-top: 3.8rem;
}

@media screen and (max-width: 480px) {
    .btn-style {
        font-size: 1.2rem;
        line-height: 2rem;
        width: 250px;
        height: 38px;
    }
}

@media screen and (max-width: 320px) {
    .btn-style {
        font-size: 1.2rem;
        line-height: 2rem;
        width: 180px;
        height: 38px;
    }
}