.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60px);
}

.form-content>input {
    width: 370px;
    height: 50px;
    border: 1px solid var(--subtext-color);
    border-radius: 8px;
    text-indent: 1rem;
    margin-bottom: 1.2rem;
}

input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--subtext-color);

}

.form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-logo>img {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -3px;
    right: 15px;
    
}


@media screen and (max-width: 480px) {
    .form-content>input {
        width: 250px;
        height: 40px;
        
    }

    .form-logo>img {
        width: 20px;
        height: 20px;
       
    }

    input::placeholder {
        font-size: 1.2rem;
        line-height: 20px;
    }
    
    
}


