 .sec-button {
    display: flex;
 }
.sign_in-btn {
    width: 370px;
    height: 62px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    color: var(--text-color);
    border-radius: 8px;
    border: none;
    outline: 1px solid var(--text-color);
    cursor: pointer;

    margin-top: 2rem;
   
}

@media screen and (max-width: 480px) {
    .sign_in-btn {
        font-size: 1.2rem;
        line-height: 2rem;
        width: 250px;
        height: 38px;
    }
}