body {
    background: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    object-position: center;
    font-size: 1.6rem;
}

