.sign_in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 520px;
    height: 699px;
    margin: 6rem auto 4rem auto;
    padding-top: 4rem;
}

.sign_in-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px blue solid; */
    width: 320px;
    align-self: center;
    margin-top: 1rem;
}

.sign_in-content {
    position: absolute;
    right: 60px;
}

.email_icon {
    top: 50px;
    
}

.password_icon {
    top: 120px;
   
}

input::placeholder {
    color: #B2B2B2;
}

.para {
    text-align: center;
}

.parah {
    align-self: flex-end;
    margin-right: 30px;
}