.color_selection {
    width: 520px;
    height: auto;
    background: var(--background-color);
    border-radius: 8px;
}

.color_selection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color_selection-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 24px;
    text-align: center;
    color: var(--text-color);

    margin-top: 3.2rem;
}

.color_selection-content>p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    color: var(--subtext-color);

}

.color_selection-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* outline: 2px solid brown; */
    width: 330px;
    margin-left: 95px;

    margin-top: 1.6rem;
    position: relative;
}

.color_selection-icon>div {

    width: 40%;
    position: absolute;
    transform: translateX(22px);
    border: 1px solid var(--text-color);
}

.img {
    margin-right: -5px;
}

.color_selection-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 344px;
    height: 80px;
    margin-left: 90px;

    margin-top: 6rem;

}

.reset {
    color: var(--text-color);
    transform: translateY(70px);
    margin-top: 16px;
    cursor: pointer;
}

.selection-btn {
    transform: translateY(60px);
    /* background: yellowgreen; */
}

@media screen and (max-width: 480px) {
    .color_selection {
        max-width: 340px;
        height: auto;
    }

    .color_selection-title {
        font-size: 1.6rem;
        line-height: 20px;
    }

    .color_selection-content>p {
        font-size: 1.2rem;
        line-height: 20px;
    }


    .color_selection-icon {

        /* outline: 2px solid brown; */
        width: 170px;

    }

    .color_selection-icon>img {
        width: 30px;
        height: 30px;
    }


    .color_selection-img {
        max-width: 180px;



    }

    .color_selection-img>img {
        width: 40px;
        height: 40px;
    }


}

@media screen and (max-width: 320px) {
    .color_selection {
        max-width: 250px;
        height: 500px;
    }

    .color_selection-icon {

        /* outline: 2px solid brown; */
        width: 140px;
        margin-left: 50px;

    }

    .color_selection-img {
        max-width: 160px;
        /* outline: 2px solid brown; */
        margin-left: 40px;
    }

    .color_selection-title {
        font-size: 1.3rem;
    }

    .color_selection-content>p {
        font-size: 1rem;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer>p {
        font-size: 1rem;
    }

    .footer-margin {
        transform: translateY(-50px);
    }

    .selection-btn {
        transform: translateY(10px);
    }

    .reset {
        transform: translateY(10px);
    }
}